---
title: "**[EPT-DISSIM]** 2. 시각화"
author: "신록예찬"
date: "08/08/2023"
---

In [11]:
import pandas as pd

In [16]:
df = pd.read_csv('https://media.githubusercontent.com/media/miruetoto/yechan3/main/posts/3_Researches/YECHAN/EPT_DISSIM/india_tidy.csv')
df

                     SUBDIVISION  YEAR  MONTH  PRECIPITATION          YM
0      ANDAMAN & NICOBAR ISLANDS  1901      1           49.2  1901-01-01
1      ANDAMAN & NICOBAR ISLANDS  1901      2           87.1  1901-02-01
2      ANDAMAN & NICOBAR ISLANDS  1901      3           29.2  1901-03-01
3      ANDAMAN & NICOBAR ISLANDS  1901      4            2.3  1901-04-01
4      ANDAMAN & NICOBAR ISLANDS  1901      5          528.8  1901-05-01
...                          ...   ...    ...            ...         ...
49317                LAKSHADWEEP  2015      8          146.4  2015-08-01
49318                LAKSHADWEEP  2015      9          160.4  2015-09-01
49319                LAKSHADWEEP  2015     10          165.4  2015-10-01
49320                LAKSHADWEEP  2015     11          231.0  2015-11-01
49321                LAKSHADWEEP  2015     12          159.0  2015-12-01

[49322 rows x 5 columns]

# plot all data

In [17]:
df.SUBDIVISION

0        ANDAMAN & NICOBAR ISLANDS
1        ANDAMAN & NICOBAR ISLANDS
2        ANDAMAN & NICOBAR ISLANDS
3        ANDAMAN & NICOBAR ISLANDS
4        ANDAMAN & NICOBAR ISLANDS
                   ...
49317                  LAKSHADWEEP
49318                  LAKSHADWEEP
49319                  LAKSHADWEEP
49320                  LAKSHADWEEP
49321                  LAKSHADWEEP
Name: SUBDIVISION, Length: 49322, dtype: object