# **\[EPT-DISSIM\]** 데이터정리

신록예찬  
2023-08-08

In [3]:
import pandas as pd

`1`. load raw-data

In [76]:
df = pd.read_csv("https://media.githubusercontent.com/media/miruetoto/yechan3/main/posts/3_Researches/YECHAN/EPT_DISSIM/india.csv")
df

`2`. make it as tidydata

In [75]:
df = df.drop(['ANNUAL', 'Jan-Feb', 'Mar-May','Jun-Sep', 'Oct-Dec'],axis=1)\
.set_index(['SUBDIVISION','YEAR'])\
.stack().reset_index().rename({'level_2':'MONTH',0:'PRECIPITATION'},axis=1)
df

`3`. mutate `MONTH` column

In [32]:
mapp = {l:i for i,l in enumerate(df.MONTH.unique().tolist(),start=1)}
mapp

In [36]:
df = df.assign(MONTH = df.MONTH.apply(lambda x: mapp[x]))
df

`4`. create a new `YM` column from `YEAR` and `MONTH`

In [65]:
df = df.assign(YM = pd.Series([str(y)+'-'+str(m) for y,m in zip(df.YEAR,df.MONTH)]).apply(pd.to_datetime))
df

`5`. save dataframe as `india_tidy.csv`

In [66]:
df.to_csv('india_tidy.csv',index=False)