In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('mbti_1.csv')
df

      type                                              posts
0     INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1     ENTP  'I'm finding the lack of me in these posts ver...
2     INTP  'Good one  _____   https://www.youtube.com/wat...
3     INTJ  'Dear INTP,   I enjoyed our conversation the o...
4     ENTJ  'You're fired.|||That's another silly misconce...
...    ...                                                ...
8670  ISFP  'https://www.youtube.com/watch?v=t8edHB_h908||...
8671  ENFP  'So...if this thread already exists someplace ...
8672  INTP  'So many questions when i do these things.  I ...
8673  INFP  'I am very conflicted right now when it comes ...
8674  INFP  'It has been too long since I have been on per...

[8675 rows x 2 columns]

In [9]:
df.type.tolist().count('INFJ')

1470

In [13]:
dct = {tpy:df.type.tolist().count(tpy) for tpy in set(df.type)}
dct

{'INTP': 1304,
 'ENFJ': 190,
 'ESTJ': 39,
 'ENTJ': 231,
 'ESFJ': 42,
 'INTJ': 1091,
 'INFP': 1832,
 'ESFP': 48,
 'ENFP': 675,
 'INFJ': 1470,
 'ISFP': 271,
 'ISFJ': 166,
 'ISTJ': 205,
 'ESTP': 89,
 'ENTP': 685,
 'ISTP': 337}