---
title: "pl_step2: timeseries"
author: "최규빈"
date: "12/21/2022"
---

https://www.kaggle.com/datasets/sumanthvrao/daily-climate-time-series-data

In [78]:
import pandas as pd
import numpy as np
import torch
from sklearn.preprocessing import RobustScaler

In [79]:
df_train = pd.read_csv("https://raw.githubusercontent.com/guebin/DL2022/main/posts/IV.%20RNN/2022-12-07-DailyDelhiClimateTrain.csv").drop('date',axis=1)
df_test = pd.read_csv("https://raw.githubusercontent.com/guebin/DL2022/main/posts/IV.%20RNN/2022-12-07-DailyDelhiClimateTest.csv").drop('date',axis=1)

In [80]:
for colname in df_train:
    df_train[[colname]] = RobustScaler().fit(df_train[[colname]]).transform(df_train[[colname]])
for colname in df_test:
    df_test[[colname]] = RobustScaler().fit(df_test[[colname]]).transform(df_test[[colname]])

In [81]:
df_train

      meantemp  humidity  wind_speed  meanpressure
0    -1.422987  1.001431   -1.079544      0.531494
1    -1.631845  1.344778   -0.562473      0.691120
2    -1.650589  1.115880   -0.275598      0.755969
3    -1.530094  0.398665   -0.865544      0.643731
4    -1.744307  1.108250   -0.437544      0.593848
...        ...       ...         ...           ...
1457 -0.843215  0.248056   -0.463948      0.523903
1458 -1.002211  1.155120   -0.038462      0.624134
1459 -1.094017  1.237959    0.007808      0.698959
1460 -1.017110  1.115880    0.191443      0.563918
1461 -1.422987  1.711016   -1.079544      0.556436

[1462 rows x 4 columns]

In [82]:
df_test

     meantemp  humidity  wind_speed  meanpressure
0   -0.351606  0.871174   -1.182180   -102.529647
1   -0.122025  0.603270   -1.148671      0.595400
2   -0.245283  0.747849   -0.899576      0.601372
3   -0.104276  0.381067   -0.782304      0.318282
4   -0.131886  0.532702   -1.058651      0.171361
..        ...       ...         ...           ...
109  1.297905 -0.937177   -0.556455     -1.517329
110  1.275719 -0.569277   -0.245703     -1.382950
111  1.155912 -0.522031    0.182135     -1.197508
112  1.153693 -0.937177    0.420193     -1.141069
113  1.076041 -0.948242    0.907327     -0.924143

[114 rows x 4 columns]

In [73]:
class ClimateDatasets(torch.utils.data.Dataset):
    def __init__(self,train=False,validate=False, test=False, window_size=7):
        ## 1. load the data 
        self.df_train = df_train 
        self.df_test = df_test 
        ## 2. define x and y 
        if train: 
            X = self.df_train 
            y = self.df_train.meantemp 
        else: 
            X = self.df_test
            y = self.df_test.meantemp

        self.x, self.y = [], []  
        for i in range(len(X) - window_size):
            v = X.iloc[i:(i+window_size)].values
            self.x.append(v)
            self.y.append(y.iloc[i+ window_size]) 
    def __len__(self):
        return self.num_sample 
    def __getitem__(self,index):
        x = self.x[index].astype(np.float32)
        y = self.y[index].astype(np.float32)
        return x,y

In [74]:
ds = ClimateDatasets(train=True)

In [75]:
for XX, yy in ds: 
    print(XX,yy)
    break

[[-1.4229872   1.0014306  -1.0795441   0.53149396]
 [-1.6318451   1.3447783  -0.5624734   0.6911203 ]
 [-1.6505888   1.1158798  -0.2755975   0.7559685 ]
 [-1.5300938   0.39866477 -0.8655439   0.64373124]
 [-1.7443069   1.1082499  -0.4375436   0.593848  ]
 [-1.663977    0.92360514 -0.8227439   0.70608526]
 [-1.663977    0.73133045  0.0135919   0.855735  ]] -1.5147929

In [ ]:
class TrafficVolumePrediction(pl.LightningModule):
    def __init__