---
title: "***딘킨의 π-λ thm***"
author: "신록예찬"
date: "03/20/2023"
---

`-` import

In [1]:
import pandas as pd

`-` 부분집합을 구하는 함수

In [2]:
def powerset(Ω):
    if not Ω:
        return [[]]
    result = []
    for x in powerset(Ω[1:]):
        result += [x, [Ω[0]] + x]
    return result

In [3]:
Ω = ['H','T']
F = powerset(['H','T'])
F

[[], ['H'], ['T'], ['H', 'T']]

`-` $\pi$-system임을 test하는 함수

In [4]:
def is_closed_under_intersection(Ω,F):
    for A in F: 
        for B in F:
            if list(set(A)&set(B)) not in F: 
                return False
    return True

In [12]:
is_pisystem = is_closed_under_intersection

In [13]:
Ω = ['H','T']
F = [['H'], ['T']]
is_closed_under_intersection(Ω,F)

False

`-` $\pi$-system이 아닐경우 반례를 찾는 함수

In [14]:
# def find(collection):
#     for A in collection: 
#         for B in collection:
#             if list(set(A)&set(B)) not in collection: 
#                 return {'collection':collection,'A':A,'B':B}

In [15]:
# find([['H'], ['T']])

`-` $\Omega=\{1,2,3\}$일 경우 $2^\Omega$를 구해보자.

In [31]:
Ω = [1,2,3]
F = powerset([1,2,3])
collection_list = powerset(F)[1:]

In [33]:
df = pd.DataFrame([(collection,is_pisystem(Ω,collection)) for collection in collection_list])
df.columns = ['collection','is π-system?']
df

                                            collection  is π-system?
0                                                 [[]]          True
1                                                [[1]]          True
2                                            [[], [1]]          True
3                                                [[2]]          True
4                                            [[], [2]]          True
..                                                 ...           ...
250  [[], [1], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]         False
251      [[2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]         False
252  [[], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]         False
253  [[1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2,...         False
254  [[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1...          True

[255 rows x 2 columns]

`-` $\lambda$-system 을 판단하는 함수

In [34]:
Ω = [1,2,3]
F = powerset(Ω)

In [103]:
def is_closed_under_complement(Ω,F,verbose=False):
    for A in F:
        if list((set(Ω)-set(A))) not in F:
            if verbose: print({'F':F,'A':A})
            return False 
    return True

In [104]:
list(set(Ω) - set(['HH', 'HT']))

[1, 2, 3]

In [106]:
is_closed_under_complement(Ω,[[1,2],[3]])

True

In [76]:
def is_closed_under_disjoint_union(Ω,F):
    for A in F: 
        for B in F:
            if set(A) & set(B) == set():
                if list(set(A).union(set(B))) not in F:
                    return False
    return True

In [77]:
is_closed_under_disjoint_union(Ω,F)

False

In [78]:
Ω

['HH', 'HT', 'TH', 'TT']

In [79]:
F

[['HH', 'HT'],
 ['HH', 'TH'],
 ['HT', 'TT'],
 ['TH', 'TT'],
 ['HT', 'TH'],
 ['HT', 'TT'],
 ['HH', 'HT', 'TH', 'TT'],
 []]

In [80]:
def is_lambdasystem(Ω,F):
    test1 = Ω in F
    test2 = is_closed_under_complement(Ω,F) 
    test3 = is_closed_under_disjoint_union(Ω,F)
    if test1 and test2 and test3:
        return True 
    else:
        return False

In [81]:
is_lambdasystem(Ω,F)

TypeError: unhashable type: 'list'

In [82]:
df = pd.DataFrame([(collection,is_pisystem(Ω,collection), is_lambdasystem(Ω,collection)) for collection in collection_list])
df.columns = ['collection','pi_sys','lambda_sys']
df

                                            collection  pi_sys  lambda_sys
0                                                 [[]]    True       False
1                                                [[1]]    True       False
2                                            [[], [1]]    True       False
3                                                [[2]]    True       False
4                                            [[], [2]]    True       False
..                                                 ...     ...         ...
250  [[], [1], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]   False       False
251      [[2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]   False       False
252  [[], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]]   False       False
253  [[1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2,...   False       False
254  [[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1...    True       False

[255 rows x 3 columns]

In [83]:
df.query("lambda_sys == True")

Empty DataFrame
Columns: [collection, pi_sys, lambda_sys]
Index: []

In [107]:
Ω = [1,2,3,4]
F = [[1,2],[1,3],[1,4],[2,3],[2,4],[3,4],[],[1,2,3,4]]

In [108]:
is_lambdasystem(Ω,F)

True

In [111]:
is_pisystem(Ω,F)

False