---
title: "**[Essays]** 판다스 intro"
author: "신록예찬"
date: "04/18/2023"
---

# import

In [7]:
import numpy as np
import pandas as pd

# 부분 데이터 꺼내기: 판다스를 왜 써야할까?

`-` 예시1: 때로는 인덱스로 때로는 key로 데이터를 부르고 싶다.

In [56]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]

In [57]:
arr = np.array([key,att,rep,mid,fin]).T
dct = {'att':{key[i]:att[i] for i in range(20)}, 
       'rep':{key[i]:rep[i] for i in range(20)},
       'mid':{key[i]:mid[i] for i in range(20)},
       'fin':{key[i]:fin[i] for i in range(20)}}

학번 '202212471'에 해당하는 학생의 출석점수를 알고 싶다면?

(풀이1)

In [59]:
dct['att']['2022-12471']

60

(풀이2)

In [60]:
arr[arr[:,0] == '2022-12471', 1]

array(['60'], dtype='<U21')

**(풀이2)가 (풀이1)에 비하여 불편한 점**

- arr 첫칼럼 student id 이고 두번째 칼럼은 att라는 사실을 암기하고 있어야 한다. 
- student id가 아니고 만약에 학생이름을 써서 데이터를 정리한다면 모든 자료형은 문자형이 되어야 한다. 
- 작성한 코드의 가독성이 없다. (위치로 접근하기 때문)

`-` 요약: hash 스타일로 정보를 추출하는 것이 유용할 때가 있다. 그리고 보통 hash 스타일로 정보를 뽑는 것이 유리하다. (사실 numpy는 정보추출을 위해 개발된 자료형이 아니라 행렬 및 벡터의 수학연산을 지원하기 위해 개발된 자료형이다)

`-` 소망: 정보를 추출할때는 hash 스타일도 유용하다는 것은 이해함 $\to$ 하지만 나는 가끔 넘파이스타일로 정보를 뽑고 싶은걸? 그리고 딕셔너리 형태가 아니고 엑셀처럼(행렬처럼) 데이터를 보고 싶은걸? $\to$ pandas의 개발

# pandas 개발동기

## 엑셀처럼 데이터를 테이블 형태로 정리하고 싶다

(방법1) -- 행렬이기는 하지만 방법 2,3,4,5 에 비하여 우리가 원하는 만큼 가독성을 주는 형태는 아님..

In [61]:
arr

array([['2022-12380', '65', '55', '50', '40'],
       ['2022-12370', '95', '100', '50', '80'],
       ['2022-12363', '65', '90', '60', '30'],
       ['2022-12488', '55', '80', '75', '80'],
       ['2022-12312', '80', '30', '30', '100'],
       ['2022-12377', '75', '40', '100', '15'],
       ['2022-12463', '65', '45', '45', '90'],
       ['2022-12471', '60', '60', '25', '0'],
       ['2022-12400', '95', '65', '20', '10'],
       ['2022-12469', '90', '80', '80', '20'],
       ['2022-12318', '55', '75', '35', '25'],
       ['2022-12432', '95', '95', '45', '0'],
       ['2022-12443', '95', '55', '15', '35'],
       ['2022-12367', '50', '80', '40', '30'],
       ['2022-12458', '50', '55', '15', '85'],
       ['2022-12396', '95', '30', '30', '95'],
       ['2022-12482', '50', '50', '45', '10'],
       ['2022-12452', '65', '55', '15', '45'],
       ['2022-12387', '70', '70', '40', '35'],
       ['2022-12354', '90', '90', '80', '90']], dtype='<U21')

(방법2)

In [65]:
df = pd.DataFrame(dct)
df

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12318   55   75   35   25
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12396   95   30   30   95
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

(방법3)

In [66]:
df = pd.DataFrame({'att':att, 'rep':rep, 'mid':mid, 'fin':fin},index=key)
df

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12318   55   75   35   25
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12396   95   30   30   95
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

## 해싱으로 원하는 정보를 뽑으면 좋겠다 (마치 딕셔너리처럼)

`-` 예제1: 출석점수를 출력 (딕셔너리가 되면 판다스도 된다)

In [68]:
dct['att']

{'2022-12380': 65,
 '2022-12370': 95,
 '2022-12363': 65,
 '2022-12488': 55,
 '2022-12312': 80,
 '2022-12377': 75,
 '2022-12463': 65,
 '2022-12471': 60,
 '2022-12400': 95,
 '2022-12469': 90,
 '2022-12318': 55,
 '2022-12432': 95,
 '2022-12443': 95,
 '2022-12367': 50,
 '2022-12458': 50,
 '2022-12396': 95,
 '2022-12482': 50,
 '2022-12452': 65,
 '2022-12387': 70,
 '2022-12354': 90}

In [69]:
df['att']

2022-12380    65
2022-12370    95
2022-12363    65
2022-12488    55
2022-12312    80
2022-12377    75
2022-12463    65
2022-12471    60
2022-12400    95
2022-12469    90
2022-12318    55
2022-12432    95
2022-12443    95
2022-12367    50
2022-12458    50
2022-12396    95
2022-12482    50
2022-12452    65
2022-12387    70
2022-12354    90
Name: att, dtype: int64

`-` 예제2: 학번 `2022-12380` 의 출석점수 출력

In [71]:
dct['att']['2022-12380']

65

In [72]:
df['att']['2022-12380']

65

## 인덱싱으로 정보를 뽑는 기능도 지원을 하면 좋겠다 (마치 리스트나 넘파이처럼)

`-` 예제1: 첫번째 학생의 기말고사 성적을 출력하고 싶다.

In [73]:
arr[0,-1]

'40'

In [74]:
df.iloc[0,-1]

40

- 벼락치기: df에서 iloc이라는 특수기능을 이용하면 넘파이 인덱싱처럼 원소출력이 가능하다.

> df는 딕셔너리(+$\alpha$) 같은것이지만 df.iloc은 넘파이같은것이라고 생각하면 된다.

`-` 예제2: 홀수번째 학생의 점수를 뽑고 싶다.

In [75]:
arr[::2]

array([['2022-12380', '65', '55', '50', '40'],
       ['2022-12363', '65', '90', '60', '30'],
       ['2022-12312', '80', '30', '30', '100'],
       ['2022-12463', '65', '45', '45', '90'],
       ['2022-12400', '95', '65', '20', '10'],
       ['2022-12318', '55', '75', '35', '25'],
       ['2022-12443', '95', '55', '15', '35'],
       ['2022-12458', '50', '55', '15', '85'],
       ['2022-12482', '50', '50', '45', '10'],
       ['2022-12387', '70', '70', '40', '35']], dtype='<U21')

In [76]:
df.iloc[::2]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12363   65   90   60   30
2022-12312   80   30   30  100
2022-12463   65   45   45   90
2022-12400   95   65   20   10
2022-12318   55   75   35   25
2022-12443   95   55   15   35
2022-12458   50   55   15   85
2022-12482   50   50   45   10
2022-12387   70   70   40   35

`-` 예제3: 맨 끝에서 3명의 점수를 출력하고 싶다.

In [77]:
arr[-3:]

array([['2022-12452', '65', '55', '15', '45'],
       ['2022-12387', '70', '70', '40', '35'],
       ['2022-12354', '90', '90', '80', '90']], dtype='<U21')

In [78]:
df.iloc[-3:]

            att  rep  mid  fin
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

**참고:** 사용하지 않는 코드

In [82]:
df[-3:] # 가능은 하지만 저는 쓰지 않아요 (헷갈려서요)

            att  rep  mid  fin
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

In [138]:
df[-3] # 이런다니까?

KeyError: -3

`-` 예제4: 맨 끝에서 3명의 점수중 마지막 2개의 칼럼만 출력하고 싶다.

In [83]:
arr[-3:,-2:]

array([['15', '45'],
       ['40', '35'],
       ['80', '90']], dtype='<U21')

In [84]:
df.iloc[-3:,-2:]

            mid  fin
2022-12452   15   45
2022-12387   40   35
2022-12354   80   90

## 궁극: 해싱과 인덱싱을 모두 지원하는 아주 우수한 자료형을 만들고 싶음

`-` 예제1: 중간고사 점수가 20점 이상이면서 동시에 출석점수가 60점미만인 학생들의 기말고사 점수를 출력

(방법1) 데이터베이스 스타일

In [85]:
df.query("mid >= 20 and att <60")

            att  rep  mid  fin
2022-12488   55   80   75   80
2022-12318   55   75   35   25
2022-12367   50   80   40   30
2022-12482   50   50   45   10

In [86]:
df.query("mid >= 20 and att <60")['fin']

2022-12488    80
2022-12318    25
2022-12367    30
2022-12482    10
Name: fin, dtype: int64

(방법2) 넘파이 스타일이라면?

In [87]:
arr

array([['2022-12380', '65', '55', '50', '40'],
       ['2022-12370', '95', '100', '50', '80'],
       ['2022-12363', '65', '90', '60', '30'],
       ['2022-12488', '55', '80', '75', '80'],
       ['2022-12312', '80', '30', '30', '100'],
       ['2022-12377', '75', '40', '100', '15'],
       ['2022-12463', '65', '45', '45', '90'],
       ['2022-12471', '60', '60', '25', '0'],
       ['2022-12400', '95', '65', '20', '10'],
       ['2022-12469', '90', '80', '80', '20'],
       ['2022-12318', '55', '75', '35', '25'],
       ['2022-12432', '95', '95', '45', '0'],
       ['2022-12443', '95', '55', '15', '35'],
       ['2022-12367', '50', '80', '40', '30'],
       ['2022-12458', '50', '55', '15', '85'],
       ['2022-12396', '95', '30', '30', '95'],
       ['2022-12482', '50', '50', '45', '10'],
       ['2022-12452', '65', '55', '15', '45'],
       ['2022-12387', '70', '70', '40', '35'],
       ['2022-12354', '90', '90', '80', '90']], dtype='<U21')

In [93]:
arr[:,3].astype(np.int64) >= 20  ## 중간고사가 20점이상

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True, False,
        True,  True])

In [94]:
arr[:,1].astype(np.int64)  < 60  ## 출석이 60미만

array([False, False, False,  True, False, False, False, False, False,
       False,  True, False, False,  True,  True, False,  True, False,
       False, False])

In [101]:
(arr[:,3].astype(np.int64) >= 20) & (arr[:,1].astype(np.int64)  < 60)

array([False, False, False,  True, False, False, False, False, False,
       False,  True, False, False,  True, False, False,  True, False,
       False, False])

> 조심: `&` 를 기준으로 양옆에 `() & ()` 와 같은 형식으로 소괄호를 명시해줘야함. 그렇지 않으면 에러발생

In [103]:
arr[(arr[:,3].astype(np.int64) >= 20) & (arr[:,1].astype(np.int64)  < 60)] # 이게 무슨코드야

array([['2022-12488', '55', '80', '75', '80'],
       ['2022-12318', '55', '75', '35', '25'],
       ['2022-12367', '50', '80', '40', '30'],
       ['2022-12482', '50', '50', '45', '10']], dtype='<U21')

- 구현난이도 어려움, 가독성 꽝

`-` 예제2: '중간고사점수<기말고사점수'인 학생들의 출석점수 평균을 구하자.

In [104]:
df.query('mid<fin')['att'].mean()

76.66666666666667

# pandas 공부 1단계

## 데이터프레임 선언

`-` 방법1: dictionary에서 만든다.

In [105]:
pd.DataFrame({'att':[30,40,50],'mid':[50,60,70]})

   att  mid
0   30   50
1   40   60
2   50   70

In [106]:
pd.DataFrame({'att':(30,40,50),'mid':(50,60,70)})

   att  mid
0   30   50
1   40   60
2   50   70

In [107]:
pd.DataFrame({'att':np.array([30,40,50]),'mid':np.array([50,60,70])})

   att  mid
0   30   50
1   40   60
2   50   70

`-` 방법: 2차원 ndarray에서 만든다.

In [108]:
np.arange(2*3).reshape(2,3)

array([[0, 1, 2],
       [3, 4, 5]])

In [109]:
pd.DataFrame(np.arange(2*3).reshape(2,3))

   0  1  2
0  0  1  2
1  3  4  5

## 열의 이름 부여

`-` 방법1: 딕셔너리를 통하여 만들면 딕셔너리의 key가 자동으로 열의 이름이 된다.

In [110]:
pd.DataFrame({'att':np.array([30,40,50]),'mid':np.array([50,60,70])})

   att  mid
0   30   50
1   40   60
2   50   70

`-` 방법2: pd.DataFrame()의 옵션에 columns를 이용

In [111]:
pd.DataFrame(np.arange(2*3).reshape(2,3),columns=['X1','X2','X3'])

   X1  X2  X3
0   0   1   2
1   3   4   5

`-` 방법3: df.columns에 원하는 열이름을 덮어씀 (1)

In [112]:
df=pd.DataFrame(np.arange(2*3).reshape(2,3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [113]:
df.columns = ['X1','X2','X3']

In [114]:
df

   X1  X2  X3
0   0   1   2
1   3   4   5

In [115]:
df.columns

Index(['X1', 'X2', 'X3'], dtype='object')

`-` 방법4: df.columns에 원하는 열이름을 덮어씀 (2)

In [116]:
df=pd.DataFrame(np.arange(2*3).reshape(2,3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [117]:
df.columns = pd.Index(['X1','X2','X3'])

In [118]:
df

   X1  X2  X3
0   0   1   2
1   3   4   5

방법4가 방법3의 방식보다 컴퓨터가 이해하기 좋다. (= 불필요한 에러 혹은 경고메시지를 방지할 수 있다)

## 행의 이름 부여

`-` 방법1: 중첩 dict이면 nested dic의 key가 알아서 행의 이름으로 된다.

In [119]:
pd.DataFrame({'att':{'guebin':30, 'iu':40, 'hynn':50} , 'mid':{'guebin':5, 'iu':45, 'hynn':90}})

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법2: pd.DataFrame()의 index 옵션 이용

In [120]:
pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]}, index=['guebin','iu','hynn'])

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법3: df.index에 덮어씌움

In [121]:
df=pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

In [124]:
df.index = pd.Index(['guebin','iu','hynn'])
#df.index = ['guebin','iu','hynn'] <- 이것도 실행가능하기는함 
df

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

`-` 방법4: df.set_index() 를 이용하여 덮어씌운다

In [122]:
df=pd.DataFrame({'att':[30,40,50] , 'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

In [125]:
df.set_index(pd.Index(['guebin','iu','hynn']))

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

In [126]:
df.set_index(['guebin','iu','hynn'])

KeyError: "None of ['guebin', 'iu', 'hynn'] are in the columns"

In [127]:
df.set_index([['guebin','iu','hynn']]) # 꺽쇠를 한번 더 넣어주면 에러를 피할수 있다.

        att  mid
guebin   30    5
iu       40   45
hynn     50   90

## 자료형, len, shape, for문의 반복변수

In [128]:
df = pd.DataFrame({'att':[30,40,50],'mid':[5,45,90]})
df

   att  mid
0   30    5
1   40   45
2   50   90

`-` type

In [129]:
type(df)

pandas.core.frame.DataFrame

`-` len

In [136]:
len(df) # row의 갯수

3

`-` shape

In [133]:
df.shape

(3, 2)

`-` for문의 반복변수

In [139]:
for k in df:
    print(k) # 딕셔너리같죠

att
mid

In [140]:
for k in {'att':[30,40,50],'mid':[5,45,90]}: 
    print(k)

att
mid

**참고:** df는 진짜 딕셔너리 느낌 강해요

In [149]:
df.keys()

Index(['att', 'mid'], dtype='object')

In [151]:
for k,v in df.items():
    print(k)

att
mid

## pd.Series

`-` 2차원 ndarray가 pd.DataFrame에 대응한다면 1차원 ndarray는 pd.Series에 대응한다.

In [156]:
a=pd.Series(np.random.randn(10))
a

0    0.117038
1   -0.350165
2    0.410882
3   -0.763975
4    0.766821
5    1.032189
6    0.404380
7   -0.134916
8   -0.767637
9   -0.642942
dtype: float64

In [157]:
type(a)

pandas.core.series.Series

In [158]:
len(a)

10

In [159]:
a.shape

(10,)

In [160]:
for value in a: 
    print(value)

0.11703802078481768
-0.35016528730819835
0.41088231071285214
-0.7639751186048923
0.7668211908508363
1.0321893952706378
0.4043801221270989
-0.13491594673576462
-0.7676372382412047
-0.6429423233189866

# pandas 공부 2단계

`-` 데이터

In [163]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]

In [168]:
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin},index=key)
df

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12318   55   75   35   25
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12396   95   30   30   95
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

## 첫번째 칼럼을 선택

`-` 방법1

In [169]:
df.att

2022-12380    65
2022-12370    95
2022-12363    65
2022-12488    55
2022-12312    80
2022-12377    75
2022-12463    65
2022-12471    60
2022-12400    95
2022-12469    90
2022-12318    55
2022-12432    95
2022-12443    95
2022-12367    50
2022-12458    50
2022-12396    95
2022-12482    50
2022-12452    65
2022-12387    70
2022-12354    90
Name: att, dtype: int64

`-` 방법2: dict스타일

In [291]:
df['att']

202212380    65
202212370    95
202212363    65
202212488    55
202212312    80
202212377    75
202212463    65
202212471    60
202212400    95
202212469    90
202212318    55
202212432    95
202212443    95
202212367    50
202212458    50
202212396    95
202212482    50
202212452    65
202212387    70
202212354    90
Name: att, dtype: int64

`-` 방법3: dict스타일

In [170]:
df[['att']]

            att
2022-12380   65
2022-12370   95
2022-12363   65
2022-12488   55
2022-12312   80
2022-12377   75
2022-12463   65
2022-12471   60
2022-12400   95
2022-12469   90
2022-12318   55
2022-12432   95
2022-12443   95
2022-12367   50
2022-12458   50
2022-12396   95
2022-12482   50
2022-12452   65
2022-12387   70
2022-12354   90

- df.att 나 df['att']는 series를 리턴하고 df[['att']]는 dataframe을 리턴한다.

`-` 방법4: ndarray스타일

In [171]:
df.iloc[:,0]

2022-12380    65
2022-12370    95
2022-12363    65
2022-12488    55
2022-12312    80
2022-12377    75
2022-12463    65
2022-12471    60
2022-12400    95
2022-12469    90
2022-12318    55
2022-12432    95
2022-12443    95
2022-12367    50
2022-12458    50
2022-12396    95
2022-12482    50
2022-12452    65
2022-12387    70
2022-12354    90
Name: att, dtype: int64

`-` 방법5: ndarray스타일

In [172]:
df.iloc[:,[0]]

            att
2022-12380   65
2022-12370   95
2022-12363   65
2022-12488   55
2022-12312   80
2022-12377   75
2022-12463   65
2022-12471   60
2022-12400   95
2022-12469   90
2022-12318   55
2022-12432   95
2022-12443   95
2022-12367   50
2022-12458   50
2022-12396   95
2022-12482   50
2022-12452   65
2022-12387   70
2022-12354   90

- df.iloc[:,0]은 series를 리턴하고 df.iloc[:,[0]]은 dataframe을 리턴한다.

`-` 방법6: ndarray 스타일과 dict 스타일의 혼합

In [173]:
df.loc[:,'att']

2022-12380    65
2022-12370    95
2022-12363    65
2022-12488    55
2022-12312    80
2022-12377    75
2022-12463    65
2022-12471    60
2022-12400    95
2022-12469    90
2022-12318    55
2022-12432    95
2022-12443    95
2022-12367    50
2022-12458    50
2022-12396    95
2022-12482    50
2022-12452    65
2022-12387    70
2022-12354    90
Name: att, dtype: int64

`-` 방법7: ndarray 스타일과 dict 스타일의 혼합

In [174]:
df.loc[:,['att']]

            att
2022-12380   65
2022-12370   95
2022-12363   65
2022-12488   55
2022-12312   80
2022-12377   75
2022-12463   65
2022-12471   60
2022-12400   95
2022-12469   90
2022-12318   55
2022-12432   95
2022-12443   95
2022-12367   50
2022-12458   50
2022-12396   95
2022-12482   50
2022-12452   65
2022-12387   70
2022-12354   90

- df.loc[:,'att']은 series를 리턴하고 df.loc[:,['att']]은 dataframe을 리턴한다.

`-` 방법7: nparray 스타일 + bool 인덱싱

In [178]:
df.iloc[:,[True,False,False,False]]

            att
2022-12380   65
2022-12370   95
2022-12363   65
2022-12488   55
2022-12312   80
2022-12377   75
2022-12463   65
2022-12471   60
2022-12400   95
2022-12469   90
2022-12318   55
2022-12432   95
2022-12443   95
2022-12367   50
2022-12458   50
2022-12396   95
2022-12482   50
2022-12452   65
2022-12387   70
2022-12354   90

`-` 방법8: ndarray와 dict의 홉합형 + bool 인덱싱

In [179]:
df.loc[:,[True,False,False,False]]

            att
2022-12380   65
2022-12370   95
2022-12363   65
2022-12488   55
2022-12312   80
2022-12377   75
2022-12463   65
2022-12471   60
2022-12400   95
2022-12469   90
2022-12318   55
2022-12432   95
2022-12443   95
2022-12367   50
2022-12458   50
2022-12396   95
2022-12482   50
2022-12452   65
2022-12387   70
2022-12354   90

## 여러개의 칼럼을 선택

`-` 방법1: dict 스타일

In [180]:
df[['att','fin']]

            att  fin
2022-12380   65   40
2022-12370   95   80
2022-12363   65   30
2022-12488   55   80
2022-12312   80  100
2022-12377   75   15
2022-12463   65   90
2022-12471   60    0
2022-12400   95   10
2022-12469   90   20
2022-12318   55   25
2022-12432   95    0
2022-12443   95   35
2022-12367   50   30
2022-12458   50   85
2022-12396   95   95
2022-12482   50   10
2022-12452   65   45
2022-12387   70   35
2022-12354   90   90

`-` 방법2: ndarray 스타일 (정수리스트로 인덱싱, 슬라이싱, 스트라이딩)

In [181]:
df.iloc[:,[0,1]] # 정수의 리스트를 전달하여 컬럼추출

            att  rep
2022-12380   65   55
2022-12370   95  100
2022-12363   65   90
2022-12488   55   80
2022-12312   80   30
2022-12377   75   40
2022-12463   65   45
2022-12471   60   60
2022-12400   95   65
2022-12469   90   80
2022-12318   55   75
2022-12432   95   95
2022-12443   95   55
2022-12367   50   80
2022-12458   50   55
2022-12396   95   30
2022-12482   50   50
2022-12452   65   55
2022-12387   70   70
2022-12354   90   90

In [182]:
df.iloc[:,range(2)]

            att  rep
2022-12380   65   55
2022-12370   95  100
2022-12363   65   90
2022-12488   55   80
2022-12312   80   30
2022-12377   75   40
2022-12463   65   45
2022-12471   60   60
2022-12400   95   65
2022-12469   90   80
2022-12318   55   75
2022-12432   95   95
2022-12443   95   55
2022-12367   50   80
2022-12458   50   55
2022-12396   95   30
2022-12482   50   50
2022-12452   65   55
2022-12387   70   70
2022-12354   90   90

In [321]:
df.iloc[:,:2]  # 슬라이싱 , 0,1,2에서 마지막 2는 제외되고 0,1에 해당하는 것만 추출

           att  rep
202212380   65   55
202212370   95  100
202212363   65   90
202212488   55   80
202212312   80   30
202212377   75   40
202212463   65   45
202212471   60   60
202212400   95   65
202212469   90   80
202212318   55   75
202212432   95   95
202212443   95   55
202212367   50   80
202212458   50   55
202212396   95   30
202212482   50   50
202212452   65   55
202212387   70   70
202212354   90   90

In [183]:
df.iloc[:,::2]  # 스트라이딩

            att  mid
2022-12380   65   50
2022-12370   95   50
2022-12363   65   60
2022-12488   55   75
2022-12312   80   30
2022-12377   75  100
2022-12463   65   45
2022-12471   60   25
2022-12400   95   20
2022-12469   90   80
2022-12318   55   35
2022-12432   95   45
2022-12443   95   15
2022-12367   50   40
2022-12458   50   15
2022-12396   95   30
2022-12482   50   45
2022-12452   65   15
2022-12387   70   40
2022-12354   90   80

`-` 방법3: ndarray 와 dict의 혼합형

In [188]:
df.loc[:,['att','mid']]

            att  mid
2022-12380   65   50
2022-12370   95   50
2022-12363   65   60
2022-12488   55   75
2022-12312   80   30
2022-12377   75  100
2022-12463   65   45
2022-12471   60   25
2022-12400   95   20
2022-12469   90   80
2022-12318   55   35
2022-12432   95   45
2022-12443   95   15
2022-12367   50   40
2022-12458   50   15
2022-12396   95   30
2022-12482   50   45
2022-12452   65   15
2022-12387   70   40
2022-12354   90   80

In [189]:
df.loc[:,'att':'mid']  # 마지막의 mid도 포함된다.

            att  rep  mid
2022-12380   65   55   50
2022-12370   95  100   50
2022-12363   65   90   60
2022-12488   55   80   75
2022-12312   80   30   30
2022-12377   75   40  100
2022-12463   65   45   45
2022-12471   60   60   25
2022-12400   95   65   20
2022-12469   90   80   80
2022-12318   55   75   35
2022-12432   95   95   45
2022-12443   95   55   15
2022-12367   50   80   40
2022-12458   50   55   15
2022-12396   95   30   30
2022-12482   50   50   45
2022-12452   65   55   15
2022-12387   70   70   40
2022-12354   90   90   80

In [190]:
df.loc[:,'rep':]

            rep  mid  fin
2022-12380   55   50   40
2022-12370  100   50   80
2022-12363   90   60   30
2022-12488   80   75   80
2022-12312   30   30  100
2022-12377   40  100   15
2022-12463   45   45   90
2022-12471   60   25    0
2022-12400   65   20   10
2022-12469   80   80   20
2022-12318   75   35   25
2022-12432   95   45    0
2022-12443   55   15   35
2022-12367   80   40   30
2022-12458   55   15   85
2022-12396   30   30   95
2022-12482   50   45   10
2022-12452   55   15   45
2022-12387   70   40   35
2022-12354   90   80   90

`-` 방법4: bool을 이용한 인덱싱

In [191]:
df.iloc[:,[True,False,True,False]]

            att  mid
2022-12380   65   50
2022-12370   95   50
2022-12363   65   60
2022-12488   55   75
2022-12312   80   30
2022-12377   75  100
2022-12463   65   45
2022-12471   60   25
2022-12400   95   20
2022-12469   90   80
2022-12318   55   35
2022-12432   95   45
2022-12443   95   15
2022-12367   50   40
2022-12458   50   15
2022-12396   95   30
2022-12482   50   45
2022-12452   65   15
2022-12387   70   40
2022-12354   90   80

In [192]:
df.loc[:,[True,False,True,False]]

            att  mid
2022-12380   65   50
2022-12370   95   50
2022-12363   65   60
2022-12488   55   75
2022-12312   80   30
2022-12377   75  100
2022-12463   65   45
2022-12471   60   25
2022-12400   95   20
2022-12469   90   80
2022-12318   55   35
2022-12432   95   45
2022-12443   95   15
2022-12367   50   40
2022-12458   50   15
2022-12396   95   30
2022-12482   50   45
2022-12452   65   15
2022-12387   70   40
2022-12354   90   80

## 첫번째 행을 선택

`-` 방법1

In [193]:
df.iloc[0]

att    65
rep    55
mid    50
fin    40
Name: 2022-12380, dtype: int64

`-` 방법2

In [194]:
df.iloc[[0]]

            att  rep  mid  fin
2022-12380   65   55   50   40

`-` 방법3

In [195]:
df.iloc[0,:]

att    65
rep    55
mid    50
fin    40
Name: 2022-12380, dtype: int64

`-` 방법4

In [196]:
df.iloc[[0],:]

            att  rep  mid  fin
2022-12380   65   55   50   40

`-` 방법5

In [199]:
df.loc['2022-12380']

att    65
rep    55
mid    50
fin    40
Name: 2022-12380, dtype: int64

`-` 방법6

In [200]:
df.loc[['2022-12380']]

            att  rep  mid  fin
2022-12380   65   55   50   40

`-` 방법7

In [201]:
df.loc['2022-12380',:]

att    65
rep    55
mid    50
fin    40
Name: 2022-12380, dtype: int64

`-` 방법8

In [202]:
df.loc[['2022-12380'],:]

            att  rep  mid  fin
2022-12380   65   55   50   40

`-` 방법9

In [203]:
len(df)

20

In [204]:
_lst = [True]+[False]*19

In [205]:
df.iloc[_lst]

            att  rep  mid  fin
2022-12380   65   55   50   40

In [206]:
df.iloc[_lst,:]

            att  rep  mid  fin
2022-12380   65   55   50   40

In [207]:
df.loc[_lst]

            att  rep  mid  fin
2022-12380   65   55   50   40

In [208]:
df.loc[_lst,:]

            att  rep  mid  fin
2022-12380   65   55   50   40

## 여러개의 행을 선택

`-` 방법1

In [209]:
df.iloc[[0,2]]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12363   65   90   60   30

In [210]:
df.iloc[[0,2],:]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12363   65   90   60   30

`-` 방법2

In [213]:
df.loc[['2022-12380','2022-12363']]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12363   65   90   60   30

In [214]:
df.loc[['2022-12380','2022-12363'],:]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12363   65   90   60   30

`-` 그 밖의 방법들

In [215]:
df.iloc[::3] # 스트라이딩

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12488   55   80   75   80
2022-12463   65   45   45   90
2022-12469   90   80   80   20
2022-12443   95   55   15   35
2022-12396   95   30   30   95
2022-12387   70   70   40   35

In [216]:
df.iloc[:5]

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100

In [218]:
df.loc[:'2022-12312']

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100

In [219]:
df.loc[list(df.att<80),'rep':]

            rep  mid  fin
2022-12380   55   50   40
2022-12363   90   60   30
2022-12488   80   75   80
2022-12377   40  100   15
2022-12463   45   45   90
2022-12471   60   25    0
2022-12318   75   35   25
2022-12367   80   40   30
2022-12458   55   15   85
2022-12482   50   45   10
2022-12452   55   15   45
2022-12387   70   40   35

In [220]:
df.loc[df.att<80,'rep':]

            rep  mid  fin
2022-12380   55   50   40
2022-12363   90   60   30
2022-12488   80   75   80
2022-12377   40  100   15
2022-12463   45   45   90
2022-12471   60   25    0
2022-12318   75   35   25
2022-12367   80   40   30
2022-12458   55   15   85
2022-12482   50   45   10
2022-12452   55   15   45
2022-12387   70   40   35

In [221]:
df.iloc[list(df.att<80),1:]

            rep  mid  fin
2022-12380   55   50   40
2022-12363   90   60   30
2022-12488   80   75   80
2022-12377   40  100   15
2022-12463   45   45   90
2022-12471   60   25    0
2022-12318   75   35   25
2022-12367   80   40   30
2022-12458   55   15   85
2022-12482   50   45   10
2022-12452   55   15   45
2022-12387   70   40   35

`-` 아래는 에러가 난다 주의!

In [223]:
df.iloc[df.att<80,1:]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

## query ($\star$)

`-` 예제1

In [224]:
df.query('att==90 and mid>30')

            att  rep  mid  fin
2022-12469   90   80   80   20
2022-12354   90   90   80   90

`-` 예제2

In [225]:
df.query('att<rep and mid<fin')

            att  rep  mid  fin
2022-12370   95  100   50   80
2022-12488   55   80   75   80
2022-12458   50   55   15   85

`-` 예제3

In [226]:
df.query('att < rep < 80')

            att  rep  mid  fin
2022-12318   55   75   35   25
2022-12458   50   55   15   85

`-` 예제4

In [227]:
df.query('50 < att <= 90 and mid < fin')

            att  rep  mid  fin
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12463   65   45   45   90
2022-12452   65   55   15   45
2022-12354   90   90   80   90

`-` 예제5

In [228]:
df.query(' (mid+fin)/2 >=60')

            att  rep  mid  fin
2022-12370   95  100   50   80
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12463   65   45   45   90
2022-12396   95   30   30   95
2022-12354   90   90   80   90

`-` 예제6

In [229]:
_mean  = df.att.mean()
_mean

73.0

In [230]:
df.query('att >= 73')

            att  rep  mid  fin
2022-12370   95  100   50   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12396   95   30   30   95
2022-12354   90   90   80   90

In [231]:
df.query('att >= @_mean')
# df.query('att>= _mean')은 실행 안된다.

            att  rep  mid  fin
2022-12370   95  100   50   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12396   95   30   30   95
2022-12354   90   90   80   90

`-` 예제7

In [232]:
df

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12318   55   75   35   25
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12396   95   30   30   95
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

In [233]:
df.query("index <= '202212354' or index=='202212387'")

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12318   55   75   35   25
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12396   95   30   30   95
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

사실 이 기능은 시계열자료에서 꽃핀다.

`-` 예제8

In [234]:
pd.date_range('20211226',periods=10)

DatetimeIndex(['2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31', '2022-01-01', '2022-01-02',
               '2022-01-03', '2022-01-04'],
              dtype='datetime64[ns]', freq='D')

In [238]:
_df=pd.DataFrame(np.random.normal(size=(10,4)),columns=list('ABCD'),index=pd.date_range('20211226',periods=10))
_df

                   A         B         C         D
2021-12-26  0.117038 -0.350165  0.410882 -0.763975
2021-12-27  0.766821  1.032189  0.404380 -0.134916
2021-12-28 -0.767637 -0.642942 -0.247824 -1.457658
2021-12-29 -0.091060  0.323402 -0.774021  0.659558
2021-12-30 -0.794595 -2.605380  0.283726 -1.832944
2021-12-31  0.292831  0.287421  0.283594 -0.746875
2022-01-01 -0.918335  0.402325  0.485921  0.122862
2022-01-02 -0.701718  0.740156 -0.898490  1.038380
2022-01-03 -0.441720  0.319821  0.705463 -0.027263
2022-01-04 -0.148996  0.234815 -1.412675 -0.706377

In [239]:
_df.query(" '2021-12-29' <=  index <= '2022-01-03' ")

                   A         B         C         D
2021-12-29 -0.091060  0.323402 -0.774021  0.659558
2021-12-30 -0.794595 -2.605380  0.283726 -1.832944
2021-12-31  0.292831  0.287421  0.283594 -0.746875
2022-01-01 -0.918335  0.402325  0.485921  0.122862
2022-01-02 -0.701718  0.740156 -0.898490  1.038380
2022-01-03 -0.441720  0.319821  0.705463 -0.027263

In [240]:
_df.query(" '2021-12-29' <=  index <= '2022-01-03' and A+B<C  ")

                   A         B         C         D
2021-12-30 -0.794595 -2.605380  0.283726 -1.832944
2022-01-01 -0.918335  0.402325  0.485921  0.122862
2022-01-03 -0.441720  0.319821  0.705463 -0.027263

`-` query가 만능은 아니다.

In [243]:
df.columns = pd.Index(['att score', 'rep score', 'mid score', 'fin score'])

In [245]:
df.query(" att score < 90 ")
# df.loc[df['att score'] < 90,:] <-- 이렇게 구현하면 된다! (아니면 변수이름을 바꿔주는 코드를 짜든가)

SyntaxError: invalid syntax (<unknown>, line 1)

# pandas 공부 3단계

`-` df자료형의 메소드를 알아보자.

## 전치

In [248]:
arr = np.arange(2*3).reshape(2,3)
df = pd.DataFrame(ndarray)
df

   0  1  2
0  0  1  2
1  3  4  5

In [249]:
arr.T

array([[0, 3],
       [1, 4],
       [2, 5]])

In [250]:
df.T

   0  1
0  0  3
1  1  4
2  2  5

## 합

In [251]:
arr.sum(axis=0)

array([3, 5, 7])

In [252]:
df.sum(axis=0)

0    3
1    5
2    7
dtype: int64

In [254]:
arr.sum(axis=1)

array([ 3, 12])

In [255]:
df.sum(axis=1)

0     3
1    12
dtype: int64

## cumsum

In [256]:
df

   0  1  2
0  0  1  2
1  3  4  5

In [257]:
arr.cumsum(axis=0)

array([[0, 1, 2],
       [3, 5, 7]])

In [258]:
df.cumsum(axis=0)

   0  1  2
0  0  1  2
1  3  5  7

In [259]:
arr.cumsum(axis=1)

array([[ 0,  1,  3],
       [ 3,  7, 12]])

In [260]:
df.cumsum(axis=1)

   0  1   2
0  0  1   3
1  3  7  12

## 형태변환

In [261]:
arr.tolist()

[[0, 1, 2], [3, 4, 5]]

In [262]:
df.to_dict()

{0: {0: 0, 1: 3}, 1: {0: 1, 1: 4}, 2: {0: 2, 1: 5}}

In [263]:
df.to_numpy()

array([[0, 1, 2],
       [3, 4, 5]])

In [264]:
df.to_numpy().tolist()

[[0, 1, 2], [3, 4, 5]]

## 기타메소드.. 생략...

# pandas 공부 4단계~

생략