---
title: "연습장"
author: "최규빈"
date: "01/01/2099"
---

# 강의영상

# import

In [6]:
import numpy as np
import pandas as pd

# pandas 공부 3단계

`-` df자료형의 메소드를 알아보자.

## 전치

In [248]:
arr = np.arange(2*3).reshape(2,3)
df = pd.DataFrame(ndarray)
df

   0  1  2
0  0  1  2
1  3  4  5

In [249]:
arr.T

array([[0, 3],
       [1, 4],
       [2, 5]])

In [250]:
df.T

   0  1
0  0  3
1  1  4
2  2  5

## 합

In [251]:
arr.sum(axis=0)

array([3, 5, 7])

In [252]:
df.sum(axis=0)

0    3
1    5
2    7
dtype: int64

In [254]:
arr.sum(axis=1)

array([ 3, 12])

In [255]:
df.sum(axis=1)

0     3
1    12
dtype: int64

## cumsum

In [256]:
df

   0  1  2
0  0  1  2
1  3  4  5

In [257]:
arr.cumsum(axis=0)

array([[0, 1, 2],
       [3, 5, 7]])

In [258]:
df.cumsum(axis=0)

   0  1  2
0  0  1  2
1  3  5  7

In [259]:
arr.cumsum(axis=1)

array([[ 0,  1,  3],
       [ 3,  7, 12]])

In [260]:
df.cumsum(axis=1)

   0  1   2
0  0  1   3
1  3  7  12

## 형태변환

In [261]:
arr.tolist()

[[0, 1, 2], [3, 4, 5]]

In [262]:
df.to_dict()

{0: {0: 0, 1: 3}, 1: {0: 1, 1: 4}, 2: {0: 2, 1: 5}}

In [263]:
df.to_numpy()

array([[0, 1, 2],
       [3, 4, 5]])

In [264]:
df.to_numpy().tolist()

[[0, 1, 2], [3, 4, 5]]

## 기타메소드.. 생략...

# pandas 공부 4단계

In [74]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin},index=key)
df

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100
2022-12377   75   40  100   15
2022-12463   65   45   45   90
2022-12471   60   60   25    0
2022-12400   95   65   20   10
2022-12469   90   80   80   20
2022-12318   55   75   35   25
2022-12432   95   95   45    0
2022-12443   95   55   15   35
2022-12367   50   80   40   30
2022-12458   50   55   15   85
2022-12396   95   30   30   95
2022-12482   50   50   45   10
2022-12452   65   55   15   45
2022-12387   70   70   40   35
2022-12354   90   90   80   90

## query ($\star$)

`-` 예제1: att==90 and mid>30

`-` 예제2: att<rep and mid<fin

`-` 예제3: att < rep < 80

`-` 예제4: 50 < att <= 90 and mid < fin

`-` 예제5: (mid+fin)/2 >=60

`-` 예제6: att > mean(att)

## 시계열자료

`-` 시계열자료

In [7]:
pd.date_range('20211226',periods=10)

DatetimeIndex(['2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31', '2022-01-01', '2022-01-02',
               '2022-01-03', '2022-01-04'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.normal(size=(10,4)),columns=list('ABCD'),index=pd.date_range('20211226',periods=10))
df

                   A         B         C         D
2021-12-26 -2.658986 -0.454728 -0.464535 -1.169608
2021-12-27 -0.192147  2.030259  0.664386  0.952542
2021-12-28  0.365968 -0.331578  1.406415  2.000335
2021-12-29 -1.218406 -0.128681 -0.577439  0.751631
2021-12-30  1.662317 -0.269270  1.199374 -0.491857
2021-12-31  0.343982  0.720184 -0.622415  0.577259
2022-01-01 -0.767349  0.017995  1.058768 -0.660882
2022-01-02  1.143322  0.403276  1.303369 -1.073962
2022-01-03  0.887379 -1.270920 -0.021559  1.298922
2022-01-04 -1.554196  1.344636  0.396388 -0.405718

`-` 예제1: 시계열자료에서의 인덱싱

In [12]:
df['2021-12-26':'2021-12-31'] # 하지마~

                   A         B         C         D
2021-12-26 -2.658986 -0.454728 -0.464535 -1.169608
2021-12-27 -0.192147  2.030259  0.664386  0.952542
2021-12-28  0.365968 -0.331578  1.406415  2.000335
2021-12-29 -1.218406 -0.128681 -0.577439  0.751631
2021-12-30  1.662317 -0.269270  1.199374 -0.491857
2021-12-31  0.343982  0.720184 -0.622415  0.577259

In [13]:
df.loc['2021-12-26':'2021-12-31',:] # 이게 정석임

                   A         B         C         D
2021-12-26 -2.658986 -0.454728 -0.464535 -1.169608
2021-12-27 -0.192147  2.030259  0.664386  0.952542
2021-12-28  0.365968 -0.331578  1.406415  2.000335
2021-12-29 -1.218406 -0.128681 -0.577439  0.751631
2021-12-30  1.662317 -0.269270  1.199374 -0.491857
2021-12-31  0.343982  0.720184 -0.622415  0.577259

`-` 예제3: 스트라이딩 (샘플링)

In [20]:
df.iloc[::3]

                   A         B         C         D
2021-12-26 -2.658986 -0.454728 -0.464535 -1.169608
2021-12-29 -1.218406 -0.128681 -0.577439  0.751631
2022-01-01 -0.767349  0.017995  1.058768 -0.660882
2022-01-04 -1.554196  1.344636  0.396388 -0.405718

`-` 예제4: query를 이용한 인덱싱

In [14]:
df.query("'2021-12-29' <=  index <= '2022-01-03'")

                   A         B         C         D
2021-12-29 -1.218406 -0.128681 -0.577439  0.751631
2021-12-30  1.662317 -0.269270  1.199374 -0.491857
2021-12-31  0.343982  0.720184 -0.622415  0.577259
2022-01-01 -0.767349  0.017995  1.058768 -0.660882
2022-01-02  1.143322  0.403276  1.303369 -1.073962
2022-01-03  0.887379 -1.270920 -0.021559  1.298922

In [15]:
df.query(" '2021-12-29' <=  index <= '2022-01-03' and A+B<C  ")

                   A         B         C         D
2021-12-29 -1.218406 -0.128681 -0.577439  0.751631
2022-01-01 -0.767349  0.017995  1.058768 -0.660882
2022-01-03  0.887379 -1.270920 -0.021559  1.298922

## 더러운 자료 (1)

***예비학습: col을 선택하는 가장 좋은 방법***

In [25]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin},index=key)
df.head()

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100

`-` att 선택

In [27]:
df.att

2022-12380    65
2022-12370    95
2022-12363    65
2022-12488    55
2022-12312    80
2022-12377    75
2022-12463    65
2022-12471    60
2022-12400    95
2022-12469    90
2022-12318    55
2022-12432    95
2022-12443    95
2022-12367    50
2022-12458    50
2022-12396    95
2022-12482    50
2022-12452    65
2022-12387    70
2022-12354    90
Name: att, dtype: int64

`-` 단점: 
    
1. ㅁㄴㅇㄹ
2. ㅁㄴㅇㄹ

***예비학습끝***

---

`-` 누가 자료를 아래와 같이 주었다고 하자. (엑셀특)

In [30]:
df.columns = pd.Index(['att score', 'rep score', 'mid score', 'fin score'])
df

            att score  rep score  mid score  fin score
2022-12380         65         55         50         40
2022-12370         95        100         50         80
2022-12363         65         90         60         30
2022-12488         55         80         75         80
2022-12312         80         30         30        100
2022-12377         75         40        100         15
2022-12463         65         45         45         90
2022-12471         60         60         25          0
2022-12400         95         65         20         10
2022-12469         90         80         80         20
2022-12318         55         75         35         25
2022-12432         95         95         45          0
2022-12443         95         55         15         35
2022-12367         50         80         40         30
2022-12458         50         55         15         85
2022-12396         95         30         30         95
2022-12482         50         50         45         10
2022-12452         65         55         15         45
2022-12387         70         70         40         35
2022-12354         90         90         80         90

`-` 출석점수를 뽑고 싶다면?

In [33]:
df.att score #

SyntaxError: invalid syntax (<ipython-input-33-ce3c5c31350d>, line 1)

`-` 출석점수가 90보다 작은 학생을 뽑고 싶다면?

In [ ]:
df.query(" att score < 90 ")
# df.loc[df['att score'] < 90,:] <-- 이렇게 구현하면 된다! (아니면 변수이름을 바꿔주는 코드를 짜든가)

SyntaxError: invalid syntax (<unknown>, line 1)

`-` 그냥 컬럼이름을 바꾸고 하는것도 방법임

In [36]:
col_names = list(df.columns)
col_names

['att score', 'rep score', 'mid score', 'fin score']

In [40]:
df.columns = pd.Index([l.replace(' ','_') for l in col_names])
df

            att_score  rep_score  mid_score  fin_score
2022-12380         65         55         50         40
2022-12370         95        100         50         80
2022-12363         65         90         60         30
2022-12488         55         80         75         80
2022-12312         80         30         30        100
2022-12377         75         40        100         15
2022-12463         65         45         45         90
2022-12471         60         60         25          0
2022-12400         95         65         20         10
2022-12469         90         80         80         20
2022-12318         55         75         35         25
2022-12432         95         95         45          0
2022-12443         95         55         15         35
2022-12367         50         80         40         30
2022-12458         50         55         15         85
2022-12396         95         30         30         95
2022-12482         50         50         45         10
2022-12452         65         55         15         45
2022-12387         70         70         40         35
2022-12354         90         90         80         90

In [42]:
df.att_score

2022-12380    65
2022-12370    95
2022-12363    65
2022-12488    55
2022-12312    80
2022-12377    75
2022-12463    65
2022-12471    60
2022-12400    95
2022-12469    90
2022-12318    55
2022-12432    95
2022-12443    95
2022-12367    50
2022-12458    50
2022-12396    95
2022-12482    50
2022-12452    65
2022-12387    70
2022-12354    90
Name: att_score, dtype: int64

In [43]:
df.query('att_score > 90')

            att_score  rep_score  mid_score  fin_score
2022-12370         95        100         50         80
2022-12400         95         65         20         10
2022-12432         95         95         45          0
2022-12443         95         55         15         35
2022-12396         95         30         30         95

`-` 그렇지만 col이름을 바꾸는게 항상 만능은 아니다.

## 개인습관

`-` row의 이름은 없는게 낫다고 생각함 // 시계열자료는 예외

In [84]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
key = ['2022-12'+str(s) for s in np.random.choice(np.arange(300,501),20,replace=False)]
df = pd.DataFrame({'att':att,'rep':rep,'mid':mid,'fin':fin},index=key)
df.head()

            att  rep  mid  fin
2022-12380   65   55   50   40
2022-12370   95  100   50   80
2022-12363   65   90   60   30
2022-12488   55   80   75   80
2022-12312   80   30   30  100

In [95]:
df2= df.reset_index().rename(columns={'index':'student_id'})
df2

    student_id  att  rep  mid  fin
0   2022-12380   65   55   50   40
1   2022-12370   95  100   50   80
2   2022-12363   65   90   60   30
3   2022-12488   55   80   75   80
4   2022-12312   80   30   30  100
5   2022-12377   75   40  100   15
6   2022-12463   65   45   45   90
7   2022-12471   60   60   25    0
8   2022-12400   95   65   20   10
9   2022-12469   90   80   80   20
10  2022-12318   55   75   35   25
11  2022-12432   95   95   45    0
12  2022-12443   95   55   15   35
13  2022-12367   50   80   40   30
14  2022-12458   50   55   15   85
15  2022-12396   95   30   30   95
16  2022-12482   50   50   45   10
17  2022-12452   65   55   15   45
18  2022-12387   70   70   40   35
19  2022-12354   90   90   80   90

`-` 편해

In [113]:
df2.loc[0,'student_id':'rep'] 
df2.loc[[0],'student_id':'rep'] 
df2.loc[[0,4,5],'student_id':'rep'] 
df2.loc[range(5),'student_id':'rep'] ## 끝점포함
df2.loc[5::2,'student_id':'rep']

    student_id  att  rep
5   2022-12377   75   40
7   2022-12471   60   60
9   2022-12469   90   80
11  2022-12432   95   95
13  2022-12367   50   80
15  2022-12396   95   30
17  2022-12452   65   55
19  2022-12354   90   90

## 새로운 열의 추가 ($\star\star\star$)

`-` 자료

In [126]:
np.random.seed(43052)
att = np.random.choice(np.arange(10,21)*5,20)
rep = np.random.choice(np.arange(5,21)*5,20)
mid = np.random.choice(np.arange(0,21)*5,20)
fin = np.random.choice(np.arange(0,21)*5,20)
student_id = [ '2023-12362', '2022-12471', '2023-12333', '2022-12400', '2022-12377',
               '2022-12469', '2023-12314', '2022-12363', '2023-12445', '2023-12336',
               '2023-12426', '2022-12380', '2023-12422', '2022-12488', '2022-12370',
               '2023-12443', '2022-12463', '2023-12491', '2023-12340', '2022-12312' ]
df = pd.DataFrame({'student_id':student_id,'att':att,'rep':rep,'mid':mid,'fin':fin})
df

    student_id  att  rep  mid  fin
0   2023-12362   65   55   50   40
1   2022-12471   95  100   50   80
2   2023-12333   65   90   60   30
3   2022-12400   55   80   75   80
4   2022-12377   80   30   30  100
5   2022-12469   75   40  100   15
6   2023-12314   65   45   45   90
7   2022-12363   60   60   25    0
8   2023-12445   95   65   20   10
9   2023-12336   90   80   80   20
10  2023-12426   55   75   35   25
11  2022-12380   95   95   45    0
12  2023-12422   95   55   15   35
13  2022-12488   50   80   40   30
14  2022-12370   50   55   15   85
15  2023-12443   95   30   30   95
16  2022-12463   50   50   45   10
17  2023-12491   65   55   15   45
18  2023-12340   70   70   40   35
19  2022-12312   90   90   80   90

`-` 방법1: assign을 이용한 추가

In [128]:
df.assign(total = df.att*0.1 + df.rep*0.2 + df.mid*0.3 + df.fin*0.4)

    student_id  att  rep  mid  fin  total
0   2023-12362   65   55   50   40   48.5
1   2022-12471   95  100   50   80   76.5
2   2023-12333   65   90   60   30   54.5
3   2022-12400   55   80   75   80   76.0
4   2022-12377   80   30   30  100   63.0
5   2022-12469   75   40  100   15   51.5
6   2023-12314   65   45   45   90   65.0
7   2022-12363   60   60   25    0   25.5
8   2023-12445   95   65   20   10   32.5
9   2023-12336   90   80   80   20   57.0
10  2023-12426   55   75   35   25   41.0
11  2022-12380   95   95   45    0   42.0
12  2023-12422   95   55   15   35   39.0
13  2022-12488   50   80   40   30   45.0
14  2022-12370   50   55   15   85   54.5
15  2023-12443   95   30   30   95   62.5
16  2022-12463   50   50   45   10   32.5
17  2023-12491   65   55   15   45   40.0
18  2023-12340   70   70   40   35   47.0
19  2022-12312   90   90   80   90   87.0

`-` 방법3: eval을 이용한 추가

In [130]:
df.eval('total = att*0.1 + rep*0.2 + mid*0.3 + fin*0.4')

    student_id  att  rep  mid  fin  total
0   2023-12362   65   55   50   40   48.5
1   2022-12471   95  100   50   80   76.5
2   2023-12333   65   90   60   30   54.5
3   2022-12400   55   80   75   80   76.0
4   2022-12377   80   30   30  100   63.0
5   2022-12469   75   40  100   15   51.5
6   2023-12314   65   45   45   90   65.0
7   2022-12363   60   60   25    0   25.5
8   2023-12445   95   65   20   10   32.5
9   2023-12336   90   80   80   20   57.0
10  2023-12426   55   75   35   25   41.0
11  2022-12380   95   95   45    0   42.0
12  2023-12422   95   55   15   35   39.0
13  2022-12488   50   80   40   30   45.0
14  2022-12370   50   55   15   85   54.5
15  2023-12443   95   30   30   95   62.5
16  2022-12463   50   50   45   10   32.5
17  2023-12491   65   55   15   45   40.0
18  2023-12340   70   70   40   35   47.0
19  2022-12312   90   90   80   90   87.0

`-` 방법4: `df['total']` 을 이용한 할당 // 추천X

In [ ]:
df['total'] =  df.att*0.1 + df.rep*0.2 + df.mid*0.3 + df.fin*0.4
df

    student_id  att  rep  mid  fin  total
0   2023-12362   65   55   50   40   48.5
1   2022-12471   95  100   50   80   76.5
2   2023-12333   65   90   60   30   54.5
3   2022-12400   55   80   75   80   76.0
4   2022-12377   80   30   30  100   63.0
5   2022-12469   75   40  100   15   51.5
6   2023-12314   65   45   45   90   65.0
7   2022-12363   60   60   25    0   25.5
8   2023-12445   95   65   20   10   32.5
9   2023-12336   90   80   80   20   57.0
10  2023-12426   55   75   35   25   41.0
11  2022-12380   95   95   45    0   42.0
12  2023-12422   95   55   15   35   39.0
13  2022-12488   50   80   40   30   45.0
14  2022-12370   50   55   15   85   54.5
15  2023-12443   95   30   30   95   62.5
16  2022-12463   50   50   45   10   32.5
17  2023-12491   65   55   15   45   40.0
18  2023-12340   70   70   40   35   47.0
19  2022-12312   90   90   80   90   87.0

`-` 입학년도를 추가하고 싶다면?

In [142]:
# np.random.seed(43052)
# att = np.random.choice(np.arange(10,21)*5,20)
# rep = np.random.choice(np.arange(5,21)*5,20)
# mid = np.random.choice(np.arange(0,21)*5,20)
# fin = np.random.choice(np.arange(0,21)*5,20)
# student_id = [ '2023-12362', '2022-12471', '2023-12333', '2022-12400', '2022-12377',
#                '2022-12469', '2023-12314', '2022-12363', '2023-12445', '2023-12336',
#                '2023-12426', '2022-12380', '2023-12422', '2022-12488', '2022-12370',
#                '2023-12443', '2022-12463', '2023-12491', '2023-12340', '2022-12312' ]
# df = pd.DataFrame({'student_id':student_id,'att':att,'rep':rep,'mid':mid,'fin':fin})

In [160]:
df.assign(year = [s.split('-')[0] for s in df.student_id.tolist()])

    student_id  att  rep  mid  fin  year
0   2023-12362   65   55   50   40  2023
1   2022-12471   95  100   50   80  2022
2   2023-12333   65   90   60   30  2023
3   2022-12400   55   80   75   80  2022
4   2022-12377   80   30   30  100  2022
5   2022-12469   75   40  100   15  2022
6   2023-12314   65   45   45   90  2023
7   2022-12363   60   60   25    0  2022
8   2023-12445   95   65   20   10  2023
9   2023-12336   90   80   80   20  2023
10  2023-12426   55   75   35   25  2023
11  2022-12380   95   95   45    0  2022
12  2023-12422   95   55   15   35  2023
13  2022-12488   50   80   40   30  2022
14  2022-12370   50   55   15   85  2022
15  2023-12443   95   30   30   95  2023
16  2022-12463   50   50   45   10  2022
17  2023-12491   65   55   15   45  2023
18  2023-12340   70   70   40   35  2023
19  2022-12312   90   90   80   90  2022

# HW

In [164]:
np.random.seed(20230426)
day = ['2023-04-24(Mon)','2023-04-25(Tue)','2023-04-26(Wed)','2023-04-27(Thu)','2023-04-28(Fri)',
       '2023-05-01(Mon)','2023-05-02(Tue)','2023-05-03(Wed)','2023-05-04(Thu)','2023-05-05(Fri)',
       '2023-05-08(Mon)','2023-05-09(Tue)','2023-05-10(Wed)','2023-05-11(Thu)','2023-05-12(Fri)']
hours1 = np.random.randn(15).cumsum()*2
hours1 = hours1 - hours1.min() +1
hours2 = np.random.randn(15).cumsum()*2
hours2 = hours2 - hours2.min() +1

df = pd.DataFrame({'hours(R)':hours1, 'hours(Python)':hours2},index=day)